<title> My App </title>
<hl> Hello World! <hl>
Result is {{result}}

<form action="compute" method="post">
    <textarea name="imput1" rows="10" cols="30"></textarea>>
    <textarea name="imput2" rows="10" cols="30"></textarea>>
    <br>
    <input type="submit">
</form>>